* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html a {
    color: lightgray;
    text-decoration: none;
}

html a:hover {
    color: white;
}

.error{
   position: absolute;
    color: red;
}

.cursor{
    cursor: pointer;
    transition: linear 0.2s;
}
.cursor:hover{
    color: black;
}